{% load static %}
<!DOCTYPE html>
<head>
    <title>New game</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
</head>
<body class='flex'>
    <div class="flex contain_world" oncontextmenu='return false;'>
        <div class='flex logo_container' style="height:29%;">
            <img src="{% static 'img/image.png' %}" alt="" class='logo flex' 
                    style="border-radius: 100%; width: 64px;">
        </div>
        <form method='POST' class="input_container flex" action=''>
            {% csrf_token %}
            <div class="flex aspect">Login</div>
            <input placeholder="Email" name='email' type="email" 
                    class='typefield flex' style='margin-top: 4%;'  
                    onfocus="this.removeAttribute('readonly');">
            <input placeholder="Password" name='password'
                    type="password" class='typefield flex'>
            <div class='flex'>{{ except }}</div>
            <div class='flex' style="padding-bottom: 5%; padding-left:15%; justify-content: space-between;
                    align-items: center; padding-top: 15%; width: 100%;">
                <a href="{% url 'registration' %}" class='sign flex'>Sign Up</a>
                <input type="submit" class='submit flex' value="ENTER">
            </div>
        </form>
    </div> 
</body>
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
</html>